
.article-wrapper {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    padding: 20px 30px;
}

.article-image-wrapper {
    flex: 60%;
}

.main-article {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article-img {
    max-width: 100%;
    height: auto;
}

.text-container{
    flex: 40%;
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-wrapper.heading {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}

.heading{
    font-style: italic;
}

.article-wrapper .author-tag-container {
    display: flex;
    font-weight: bold;
    font-size: smaller;
    align-self: flex-start;
    align-items: center;
}
.article-wrapper.author-tag-container .separator {
    margin: 0 10px;
}

.article-wrapper p {
    max-width: 250px;
}
.small-article-wrapper p {
    line-height: 1.6;
}

.articles-grid  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1px;
    row-gap: 20px;
    justify-items: center;
    max-width: 55%;
    margin: 0 auto;
    align-items: center;
}
.small-article-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 300px;
    font-size: 14px;
}
.small-article-wrapper h2{
    font-family: Georgia, serif;
}
