.form-container {
    width: 450px;
    max-width: 80%;
    position: absolute;
    top: 15%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: rgba(247, 247, 247, 0.5);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #000;
    z-index: 1000;
    right: 55%
}


.form {
    display: grid;
    grid-gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.submit-button:hover {
    background-color: #0056b3;
}

/*TODO: move this*/

.form-wrapper {
  @apply relative py-[200px] px-5 bg-slate-500;
}

.input-label {
  @apply block mb-2 text-sm font-medium text-gray-900;
}

.input-label:dark {
  @apply text-white;
}

.input-field {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.input-field {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5;
}

.input-field:focus {
  @apply ring-blue-500 border-blue-500;
}

.input-field.dark {
  @apply bg-gray-700 border-gray-600 placeholder-gray-400 text-white;
}

.input-field.dark:focus {
  @apply ring-blue-500 focus:border-blue-500;
}


.button {
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}
